*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.product__container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.item__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.item{
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}
.btn__container{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.btn__container{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.btn__item{
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.selected{
  background: black;
  color: white;
  font-weight: 200;
}